<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Font awesome -->
<script src="https://kit.fontawesome.com/9141c19853.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- CSS File -->
    <link rel="stylesheet" href="/css/admin.css">

    <script src="/javascript/ckeditor/ckeditor.js"></script>

    <title>Admin</title>
  </head>
  <body>
    <header id="header">
            <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #57b6fa;">
                <div class="container">
                  <a class="navbar-brand" href="#">Admin Page</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <% if (isAuthenticated){ %> 
                    <div class="collapse navbar-collapse " id="navbarText">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                          <a class="nav-link" href="/admin/my-account">My Account</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="/admin/manage-post">Posts</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/admin/manage-first-topic">First Topics</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/admin/manage-secound-topic">Secound Topics</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/admin/manage-third-topic">Third Topics</a>
                        </li>
                        <% if(isAdmin){ %>
                          <li class="nav-item">
                            <a class="nav-link" href="/admin/manage-user">Users</a>
                          </li>
                        <% } %>
                        
                      </ul>
                      <span class="navbar-text">
                          <form action="/admin/logout" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="btn btn-dark post-btn">Logout</button>
                          </form>
                      </span>
                    </div>                    
                  <% } %> 

                </div>
              </nav>
          </div>
    </header>